*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}


.wrapper_block_cont{
    display: flex;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.block_catalog{
    margin-top: 50px;
}

.page_catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination_catalog{
    display: flex;
    width: 1200px;
    justify-content: center;
    flex: 0 0 100%;
    margin-top: 40px;
}

.page_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.img_card_product{
    max-width: 250px;
    height: auto;
}

.card_product{
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card_product:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product_name{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.brand_product{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.price_product{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.product_id{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.next_page,
.prev_page{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color:#000;
    background: rgb(165, 250, 165);
    height: 54px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 20px;
}

.pagination_number{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    color: red;
}